*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none; 
}
body{
    font-family: ubuntu, sans-serif;
    font-size: 22px;
}
.home {
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;    
    display: flex;    
    /* justify-items: center;
    align-items: center; */
    flex-wrap: wrap;
    color: white;
    background: rgb(141, 141, 192); 
    margin: 5px;   
}
.about{
    display: grid;
    grid-template-columns: 3fr 6fr;
}
.image{
    margin-left: 120px;
    margin-bottom: 10px;
    margin-top: 20px;
   text-align: center;
}
.information{     
    list-style: none; 
    margin-left: 40px;
    text-align: center;
}
.items{      
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    background:rgb(141, 141, 192);
    margin: 5px;
}
.items:hover{
    opacity: 0.9;
}
.items h3{
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.6em;
    margin: 10px;   
}
.skills, .languages{
    padding: 20px;
    
}
.experience{
    padding: 20px;   
}
/*-------contact----------------*/
.contact-container{    
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    background:rgb(141, 141, 192);
}
.contact-container h1{
    text-align: center;
}
.form-container{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.form-container .form-group{
    display: grid;
    grid-template-columns: 100px 1fr;
}
/*--------------end of contact--------------- */

@media screen and (max-width:766px){
    .about{
        display: block;        
    }
    .form-container .form-group input{
        text-align: center;
    }
}